/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fae7f8;
    color: #333;
}



/* Navigation */

nav {
    background-color: #e6c1e1;
    padding: 15px;
    text-align: center;
}



    nav a {
        color: rgb(40, 4, 48);
        text-decoration: none;
        margin: 0 15px;
    }



        nav a:hover {
            text-decoration: underline;
        }



/* Headers */

header {
    background-color: #ce75e4;
    color: #ffffff;
    padding: 30px;
    text-align: center;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
/* Footer */
footer {
    background-color:#ce75e4;
    color: #333;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
/* Images */
img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(102, 17, 75, 0.1);
}

/* About Paragraph Animation */

.about-text {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideFade 1.5s ease forwards;

    @keyframes slideFade {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}